{
    "server":"127.0.0.1",
    "server_port":{{ vault_shadowsocks_port }},
    "local_port":1080,
    "password":"{{ vault_shadowsocks_key }}",
    "timeout":60,
    "method":"{{ vault_shadowsocks_enc }}"
}