---    
- name: Use BBR congestion control algorithm
  sysctl:
    name: '{{ item.key }}'
    value: '{{ item.value }}'
    sysctl_file: /etc/sysctl.d/90-bbr.conf
    sysctl_set: yes
  with_items:
    - { key: net.core.default_qdisc, value: fq }
    - { key: net.ipv4.tcp_congestion_control, value: bbr }
...
